/* 颜色变量 */

$am-color-primary: #409eff;
$am-color-default: #dcdfe6;
$am-color-success: #67c23a;
$am-color-warning: #e6a23c;
$am-color-error: #f56c6c;
$am-color-info: #909399;
$am-color-disabled: #c0c4cc;